@{
    ViewBag.Title = ResourceScr.cabinet;
}
@using LifeManagement.Resources


<div id="linkblock">
    @{Html.RenderAction("Sidebar", "Cabinet");}
</div>
<div id="maincontent">
    @{Html.RenderAction("Index", "Alerts");}
    <div class="title">
        <h2 id="maintitle">@Session["Text"]</h2>
        @Html.Partial("_QuickCreateIcon")
    </div>
  </div>

    <div id="SearchResult">
        <div>
            @{ Html.RenderAction("GetTasksByText", "Tasks", new { text = Session["Text"] });}
        </div>
        <div>
            @{ Html.RenderAction("GetEventsByText", "Events", new { text = Session["Text"] });}
        </div>
    </div>
