@{
    Layout = null;
}
@using LifeManagement.Extensions
@using LifeManagement.Resources
@model IEnumerable<LifeManagement.Models.DB.Tag>


@foreach (var item in Model) {
    <li class="subpunct">
        @Html.DialogFormLink(" ", "edit", Url.Action("Edit", "Tags", new { id = item.Id }), ResourceScr.Details, "chapter2", Url.Action("TagsList", "Cabinet"), 500)
        @Html.ActionLink(item.Name, "GetRecords", "Tags", new { id = item.Id }, null) 
    </li>
}
<li>
    @Html.DialogFormLink(ResourceScr.addTag, "addBlock", Url.Action("Create", "Tags"), ResourceScr.newTag, "chapter2", Url.Action("TagsList", "Cabinet"), 700)
</li>
