@{
    Layout = null;
}
@using LifeManagement.Resources
@model IEnumerable<LifeManagement.Models.DB.Tag>


@foreach (var item in Model) {
    <li class="subpunct">
        
        @Html.ActionLink(" ", "Edit", "Tags", new { id = item.Id }, new
           {
               @class = "edit openDialog",
               data_dialog_id = "12",
               data_dialog_title = ResourceScr.Details,
               data_dialog_width = "500",
               data_dialog_height = "auto"
           })
        @Html.ActionLink(item.Name, "GetRecords", "Tags", new { id = item.Id }, null) 
    </li>
}
<li>@Html.ActionLink(ResourceScr.addTag, "Create", "Tags", null, new
    {
        @class = "addBlock openDialog",
        data_dialog_id = "11",
        data_dialog_title = ResourceScr.newTag,
        data_dialog_width = "500",
        data_dialog_height = "auto"
    })
</li>
