
@model LifeManagement.Models.DB.Project
@{
    ViewBag.Title = Model.Name;
}
@using LifeManagement.Resources


<div id="linkblock">
    @{Html.RenderAction("Sidebar", "Cabinet");}
</div>
<div id="maincontent">
    @{Html.RenderAction("Index", "Alerts");}
    <div class="title">
        <h2 id="maintitle">@ResourceScr.project @Model.Name </h2>
        @Html.Partial("_QuickCreateIcon")
    </div>

    <div id="TasksByProject">
            @{ Html.RenderAction("GetTasksByProject", "Tasks", new { projectId = Model.Id});}
    </div>
</div>
