
@model LifeManagement.Models.DB.Project
@{
    ViewBag.Title = Model.Name;
}
@using LifeManagement.Resources


<div id="linkblock">
    @{Html.RenderAction("Sidebar", "Cabinet");}
</div>
<div id="maincontent">
    @{Html.RenderAction("Index", "Alerts");}
    <div class="title">
        <h2 id="maintitle">@ResourceScr.project @Model.Name </h2>
        @Html.ActionLink(" ", "Create", "Tasks", null, new
   {
       @class = "addTaskIcon openDialog",
       data_dialog_id = "31",
       data_dialog_title = ResourceScr.createTask,
       data_dialog_width = "700",
       data_dialog_height = "auto"
   })
        @Html.ActionLink(" ", "Create", "Events", null, new
   {
       @class = "addEventIcon  openDialog",
       data_dialog_id = "41",
       data_dialog_title = ResourceScr.newEvent,
       data_dialog_width = "700",
       data_dialog_height = "auto"
   })
    </div>

    <div id="TasksByProject">
            @{ Html.RenderAction("GetTasksByProject", "Tasks", new { projectId = Model.Id});}
    </div>
</div>
