@using LifeManagement.Extensions
@using LifeManagement.Resources
@model IEnumerable<LifeManagement.Models.DB.Event>

@foreach (var item in Model) {
    <div class="event">
        <div class="taskInfo">
            <div class="name">
                @if (item.IsUrgent)
                    {
                    <div class="Urgent"></div>
                    }
                @item.Name
            </div>
            <div>
                @Html.DialogFormLink(" ", "moreInfoIcon", Url.Action("Edit", "Events", new { id = item.Id }), ResourceScr.Details, "body-LifeManagment", "", 700)
                
            </div>
        <span class="time">@item.ConvertTimeToNice()</span>
        <div class="tags">
            @foreach (var tag in item.Tags)
                    {
                <text>@tag.Name </text>
                    }
        </div>
    </div>
</div>

}
