@{
    Layout = null;
}

@using LifeManagement.Resources
@model IEnumerable<LifeManagement.Models.DB.Task>


@foreach (var item in Model)
{
    <div>
        <div class="name">
            @if (item.IsUrgent)
            {
                <div class="Urgent"></div>
            }
            @item.Name
        </div>
        <span class="time">@item.StartDate - @item.EndDate</span>
    </div>
}