body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f8f1d4;
    min-height: 100%; 
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-family:  Verdana, Helvetica, Arial, sans-serif;
    
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#topmenu
{
    text-align: end;
    color: lightskyblue;
	float: right;   
	margin: 25px 10% 30px auto;
}

#logo
{
    float: right;
    margin-right: 30px;

}

#content
{
	font-size: 12px; 
	margin:10px auto;
}


a.simple{
	color: lightskyblue;
	text-decoration: none;
}

a.simple:hover{
	text-decoration: underline;
}

.i2Style{
	font:normal 14px "Comic Sans MS", cursive, sans-serif;
	font-style:normal;
	text-align: center;
	color:#000000;
	background: lightskyblue;
	border:1px soft #bbb;
	border-radius:0px 10px 0px 10px;
	-moz-border-radius:0px 10px 0px 10px;
	-webkit-border-radius:0px 10px 0px 10px;

	padding:16px auto;
	cursor:pointer;
	margin:5;
}   
.i2Style:hover{
    background: deepskyblue;
}
.i2Style:active{
    cursor:pointer;
    position:relative;
    top:2px;
}

/* Sidebar*/
div#wrap {
    position: relative;
    overflow: hidden;
    margin:10px auto;
}

a#controlbtn{
    color: #333;
    text-decoration: none;
    display: inline-block;
    padding-left: 20px;
}

a#controlbtn.myopen {
    background: transparent url(/Content/Images/monotone_arrow_left_32x32.png) no-repeat left center;
}

a#controlbtn.myclose {
    background: transparent url(/Content/Images/monotone_arrow_right_32x32.png) no-repeat left center;
}
div#linkblock {
    float: left;
    width: 350px;
    margin-left: -360px;

}

div#maincontent {
    position: relative;
    margin-left: 360px;
}

/*Tabs*/

.section {
	width: 350px;
	background: #FCF8E8;
	margin: 0 0 120px;
    position: relative;  
    min-height: 70%; 
}
* html .section {  
height: 70%;  
}
ul.tabs {
	height: 28px;
	line-height: 25px;
	list-style: none;
	border-bottom: 1px solid #DDD;
	background: #f8f1d4;
}
.tabs li {
	float: left;
	display: inline;
	margin: 0 1px -1px 0;
	padding: 0 13px 1px;
	color: #777;
	cursor: pointer;
	background: #E6DAA3;
	border: 1px solid #E4E4E4;
	border-bottom: 1px solid #F9F9F9;
	position: relative;
}
.tabs li:hover,
.vertical .tabs li:hover {
	color: deepskyblue;
	padding: 0 13px;
	background: #FFFFDF;
	border: 1px solid lightskyblue;
}
.tabs li.current {
	color: #444;
	background: #FCF8E8;
	padding: 0 13px 2px;
	border: 1px solid #D4D4D4;
	border-bottom: 1px solid #EFEFEF;
}
.box {
	display: none;
	border: 1px solid #FCF8E8;
  border-width: 0 1px 1px;
	background: #FCF8E8;
	padding: 0 12px;
}
.box.visible {
	display: block;
}

.section.vertical {
	width: 440px;
	border-left: 160px solid #FFF;
}
.vertical .tabs {
	width: 160px;
	float: left;
	display: inline;
	margin: 0 0 0 -160px;
}
.vertical .tabs li {
	padding: 0 13px;
	margin: 0 0 1px;
	border: 1px solid #E4E4E4;
	border-right: 1px solid #F9F9F9;
	width: 132px;
	height: 25px;
}
.vertical .tabs li:hover {
	width: 131px;
}
.vertical .tabs li.current {
	width: 133px;
	color: #444;
	background: #EFEFEF;
	border: 1px solid #D4D4D4;
  border-right: 1px solid #EFEFEF;
  margin-right: -1px;
}
.vertical .box {
  border-width: 1px;
}

/* CSS Tree menu styles */
ol.tree
{
	padding: 0 0 0 30px;
	width: 330px;
}
/*li 
{ 
	position: relative; 
	margin-left: -15px;
	list-style: none;
}*/

li.folder {
   margin:8px 0 0.225em;
}
li input
{
	position: absolute;
	left: 0;
	margin-left: 0;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
	height: 1em;
	width: 1em;
	top: 0;
}

	li input ~ ol
	{
		background: url(/Content/Images/monotone_arrow_right.png) 40px 0 no-repeat;
		margin: -1.325em 0 0 -44px; /* 15px */
		height: 1em;
	}
	li input ~ ol > li { display: none; margin-left: -14px !important; padding-left: 1px; }
li label.folder
{
	background: url(/Content/Images/folder-horizontal.png) 15px 1px no-repeat;
	cursor: pointer;
	display: block;
	padding-left: 37px;
}
li label.complexTaskNoUrgentNoImportant
{
	background: url(/Content/Images/suitcaseNoUrgentNoImportant.png) 15px 1px no-repeat;
	cursor: pointer;
	display: block;
	padding-left: 37px;
}
li label.complexTaskUrgentImportant
{
	background: url(/Content/Images/suitcaseUrgentImportant.png) 15px 1px no-repeat;
	cursor: pointer;
	display: block;
	padding-left: 37px;
}
li label.complexTaskNoUrgentImportant
{
	background: url(/Content/Images/suitcaseNoUrgentImportant.png) 15px 1px no-repeat;
	cursor: pointer;
	display: block;
	padding-left: 37px;
}
li label.complexTaskUrgentNoImportant
{
	background: url(/Content/Images/suitcaseUrgentNoImportant.png) 15px 1px no-repeat;
	cursor: pointer;
	display: block;
	padding-left: 37px;
}

li.TaskNoUrgentNoImportant
{
	background: url(/Content/Images/taskNoUrgentNoImportant.png) 0px 1px no-repeat;
	margin-left: -1px !important;
    padding-left: 22px;
}
li.TaskUrgentImportant
{
	background: url(/Content/Images/taskUrgentImportant.png) 0px 1px no-repeat;
	margin-left: -1px !important;
    padding-left: 23px;
}
li.TaskNoUrgentImportant
{
	background: url(/Content/Images/taskNoUrgentImportant.png) 0px 1px no-repeat;
	margin-left: -1px !important;
    padding-left: 22px;
}
li.TaskUrgentNoImportant
{    
	background: url(/Content/Images/taskUrgentNoImportant.png) 0px 1px no-repeat;
    margin-left: -1px !important;
    padding-left: 22px;
}

li input:checked ~ ol
{
	background: url(/Content/Images/monotone_arrow_down.png) 40px 5px no-repeat;
	margin: -1.6em 0 0 -44px; /* 20px */
	padding: 1.563em 0 0 80px;
	height: auto;
}
li input:checked ~ ol > li { display: block; margin:7px 0 0.225em;  /* 2px */}
li input:checked ~ ol > li:last-child { margin: 6px 0 0.063em; /* 1px */ }


.menuicon{
    z-index: 0;
    width:10px;
    height:10px;    
    float:right;
    padding-bottom:20px;
    opacity: 100;
    position: relative;
}



a.menuicon:hover{
    background: url(/Content/Images/menuLight.png) 0px no-repeat;
    width:16px;
    height:16px;    
    float:right;
}

li.context a {
   text-decoration: none;
   display: block;
}
 
li.context ul {
   text-align:right;
    margin-right: 15px;
   font-size: 10px;	
   display: none;	/*срываем вложенные пункты*/
}
 
/*Выпадающее меню*/

li.context>a:hover~ul, li.context>ul:hover {
   display: block;
}
 
li.context>a:hover~ul,li.context>ul:hover {
  position: relative;
}

/*для тасков*/
.task{
    font-size: 12px;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #FFF;
    margin-bottom: 2px;
    min-height: 60px;
}
.timetable {

}
.time {
    font-size: 10px;
    align-self: flex-start;
}
.readiness {
    float: right;
}

.task h6{
    font-family:  Verdana, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;   
}
.Soft{
-webkit-border-top-left-radius: 10px; 
-webkit-border-top-right-radius: 10px; 
-webkit-border-bottom-right-radius: 10px; 
-webkit-border-bottom-left-radius: 10px;
}

.Hard{
    border: 1px solid #17292e;
}
.UrgentImportant{
    background : #fe2d36;
}
.UrgentNoImportant{
    background : #f19645;
}
.NoUrgentImportant{
    background : #4e888a;
}
.NoUrgentNoImportant{
    background : #6aacce;
}
.free{
    font-size: 12px;
    padding: 10px;
    margin-bottom: 30px;
    color: #17292e;
}

/*For check box*/
.location {
    position: relative;
}
.checkboxPosition {
    position: absolute; 
    top:0px; 
    left: 0;

}

.mylabel {
    margin-top: 0px;
    font-weight: normal;
    width: 160px;
}
.mylabelhavy {
    font-weight: bold;
    margin-top: 0px;
    width: 160px;
}
/*For reminders*/
.bell {
    background: url(/Content/Images/bell.png) 0px no-repeat;
    width:32px;
    height:32px;
    margin-left: 5px;
    margin-top: 15px;
}
.inbell {
    margin-top: 5px;
    color:  #fe2d36;
    text-align: center;
     font-weight: bolder;
}

/*Выпадающее меню напоминания*/



.remindersActual {
     display: none;
    width: 400px;
    margin-top: 5px;	
}
li.bell:hover>ul, li.bell>ul:hover{
   display: block;
    position: relative;
    background-color: #17292e;
    color: lightblue;
}

/*Other*/

fieldset
{
	border: #9b9993 1px solid;
	padding: 0 10px;
	margin-bottom: 10px;
	clear: left;
    width: 400px;
}
a.done {     
     background: url(/Content/Images/check.png) no-repeat top left;
     display: block;       
     width: 12px;       
     height: 12px;       
     text-indent: -9999px; /* hides the link text */
     position: absolute; 
     bottom: 5px; 
     left: 10px
 } 
a.toBacklog {     
     background: url(/Content/Images/toBackLog.png) no-repeat top left;
     display: block;       
     width: 14px;       
     height: 14px;       
     text-indent: -9999px; /* hides the link text */
     position: absolute; 
     bottom: 5px; 
     right: 10px
 } 

label.tar {
    width:16px;
    height:16px;
    display: block; 
    position: relative;
    float: right;
}
input[type="checkbox"].menuicon + span {
    position: absolute;
    left: 0; top: 0;
     width: 100%;
    height: 100%;
    background: url(/Content/Images/menuLightBrightFill.png) 0px no-repeat;
    cursor: pointer;
    opacity: 50;
}


li.context>input.menuicon:checked~ul{
   display: block;
   position: relative;
}

/* New menu*/
#menu {
    
    position: absolute;
    right: 0px;
}
#menuBTN {
    
    position: absolute;
    right: 10px;
}
#logo {

    position: absolute;
    left: 10px;
}
 #navbar1 ul{
    display: none;
    background-color: #17292e;
    position: absolute;
    top: 200%;
}
#navbar1 li:hover ul { display: block; }
#navbar1, #navbar1 ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#navbar1 {
    height: 30px;
    padding-left: 25px;
    }
#navbar1 li {
    float: left;
    position: relative;
    height: 100%;
    width: 200px;
    }

#navbar1 li a {
    display: block;
    padding: 6px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    }
    #navbar1 ul li { float: none; }

    #navbar1 ul li a:hover {color: #428bca; }

.flagContainer {
    width: 200px;
    height: 24px;
}

.ua {
        background: url(/Content/Images/Ukraine-Flag-icon.png) no-repeat;
    float: left;
    margin-left: 40px;
    }
.ru {
        background: url(/Content/Images/Russia-Flag-icon.png)  no-repeat;
        float: right;
        margin-right: 23px;
    }
.eng {
        background: url(/Content/Images/United-Kingdom-flag.png)  no-repeat;
        float: right;
        margin-right: 40px;
    }
.ru, .ua, .eng {
        height: 24px;
        width: 24px;
    }
